*.o
/moc_backgroundmodeltuningdialog.cpp
/moc_backgroundmodeltuningdialog.o
/moc_cameraviewdialog.cpp
/moc_cameraviewdialog.o
/moc_clickdisplay.cpp
/moc_clickdisplay.o
/moc_coordinatetransform.cpp
/moc_coordinatetransform.o
/moc_errorcalculationdialog.cpp
/moc_errorcalculationdialog.o
/moc_fieldselectiondialog.cpp
/moc_fieldselectiondialog.o
/moc_mainwindow.cpp
/moc_mainwindow.o
/moc_objectdetector.cpp
/moc_objectdetector.o
/moc_systemperformancedialog.cpp
/moc_systemperformancedialog.o
/moc_trackingviewdialog.cpp
/moc_trackingviewdialog.o
/moc_videoprocessor.cpp
/moc_videoprocessor.o
